footer
  .footer-content.contaiyer.d-flex.jusify-content-center.mt-5
    a.text-white.footer-link(href='#') Телеграмм
    a.text-white.footer-link(href='#') Вконтакте
    a.text-white.footer-link(href='#') Инстаграмм
